[package]
name = "mem-scanner"
version.workspace = true
edition.workspace = true
license.workspace = true

[[bin]]
name = "mem-scanner"
path = "src/main.rs"

[dependencies]
serde = { workspace = true }
serde_json = "1.0"

[target.'cfg(windows)'.dependencies]
windows = { version = "0.58", features = [
    "Win32_Foundation",
    "Win32_System_Memory",
    "Win32_System_Threading",
    "Win32_System_Diagnostics_Debug",
    "Win32_System_Diagnostics_ToolHelp",
] }

[lints]
workspace = true
